<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.projectintegration">
    <!-- Permiso para acceder al almacenamiento externo -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" /> <!-- Para Android 12 y versiones posteriores -->
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        android:requestLegacyExternalStorage="true" />
    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjectIntegration"
        tools:targetApi="31">
        <activity
            android:name=".MonitoreoPlantas"
            android:exported="false" />
        <activity
            android:name=".GaleriaProgreso"
            android:exported="false" />
        <activity
            android:name=".PlantInformationAdmin"
            android:exported="false"
            android:theme="@style/Theme.ProjectIntegration" />
        <activity
            android:name=".PlantasAdquiridasUsuario"
            android:exported="false" />
        <activity
            android:name=".PlantInformationActivity"
            android:exported="false" />
        <activity
            android:name=".NotiUsuario"
            android:exported="false" />
        <activity
            android:name=".chat_codigo.Chat"
            android:exported="false" />
        <activity
            android:name=".chat_codigo.ChatUser"
            android:exported="false" />
        <activity
            android:name=".ProgressPlant"
            android:exported="false" />
        <activity
            android:name=".registro_pedido_plantas.Historial_Registros"
            android:exported="false" />

        <activity
            android:name=".Activity_users_chat"
            android:exported="false" />
        <activity
            android:name=".registro_pedido_plantas.Ticket_Pedido"
            android:exported="false" />
        <activity
            android:name=".inicio_sesion.ForgotPasswordActivity"
            android:exported="false" />

        <receiver android:name=".NotificationReceiver" /> <!-- Esto es para asegurar que estás apuntando a la API 31 -->
        <activity
            android:name=".catalogo_plantas.PantallaCatalogo"
            android:exported="false" />
        <activity
            android:name=".EdicionPlantaActivity"
            android:exported="false" />
        <activity
            android:name=".inicio_sesion.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".inicio_sesion.LoginScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>